In [132]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [133]:
df_raw = pd.read_csv("/Users/ma-66/Desktop/p1/Old car price prediction-ml/data/raw/used_cars .csv")
df = df_raw.copy()
df.head()

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,Ford,Utility Police Interceptor Base,2013,"51,000 mi.",E85 Flex Fuel,300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capa...,6-Speed A/T,Black,Black,At least 1 accident or damage reported,Yes,"$10,300"
1,Hyundai,Palisade SEL,2021,"34,742 mi.",Gasoline,3.8L V6 24V GDI DOHC,8-Speed Automatic,Moonlight Cloud,Gray,At least 1 accident or damage reported,Yes,"$38,005"
2,Lexus,RX 350 RX 350,2022,"22,372 mi.",Gasoline,3.5 Liter DOHC,Automatic,Blue,Black,None reported,NaN,"$54,598"
3,INFINITI,Q50 Hybrid Sport,2015,"88,900 mi.",Hybrid,354.0HP 3.5L V6 Cylinder Engine Gas/Electric H...,7-Speed A/T,Black,Black,None reported,Yes,"$15,500"
4,Audi,Q3 45 S line Premium Plus,2021,"9,835 mi.",Gasoline,2.0L I4 16V GDI DOHC Turbo,8-Speed Automatic,Glacier White Metallic,Black,None reported,NaN,"$34,999"

In [134]:
df.columns

Index(['brand', 'model', 'model_year', 'milage', 'fuel_type', 'engine',
       'transmission', 'ext_col', 'int_col', 'accident', 'clean_title',
       'price'],
      dtype='object')

In [135]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4009 entries, 0 to 4008
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   brand         4009 non-null   object
 1   model         4009 non-null   object
 2   model_year    4009 non-null   int64
 3   milage        4009 non-null   object
 4   fuel_type     3839 non-null   object
 5   engine        4009 non-null   object
 6   transmission  4009 non-null   object
 7   ext_col       4009 non-null   object
 8   int_col       4009 non-null   object
 9   accident      3896 non-null   object
 10  clean_title   3413 non-null   object
 11  price         4009 non-null   object
dtypes: int64(1), object(11)
memory usage: 376.0+ KB

In [136]:
# Clean Numeric columns (Milage and Price)
df['milage'] = df['milage'].str.replace(',', '').str.extract('(\d+)').astype(int)
df['price'] = df['price'].str.replace('[\$,]', '', regex=True).astype(float)

<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:3: SyntaxWarning: invalid escape sequence '\$'
<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:3: SyntaxWarning: invalid escape sequence '\$'
/var/folders/d9/_f44vqs13d35cf78ny4m2v6m0000gn/T/ipykernel_41804/2542662533.py:2: SyntaxWarning: invalid escape sequence '\d'
  df['milage'] = df['milage'].str.replace(',', '').str.extract('(\d+)').astype(int)
/var/folders/d9/_f44vqs13d35cf78ny4m2v6m0000gn/T/ipykernel_41804/2542662533.py:3: SyntaxWarning: invalid escape sequence '\$'
  df['price'] = df['price'].str.replace('[\$,]', '', regex=True).astype(float)

In [137]:
df.isna().sum()

brand             0
model             0
model_year        0
milage            0
fuel_type       170
engine            0
transmission      0
ext_col           0
int_col           0
accident        113
clean_title     596
price             0
dtype: int64

In [138]:
df["fuel_type"].unique()
df[df['engine'].str.len() < 5]['engine'].apply(repr).unique()
df['engine'] = df['engine'].replace('–', np.nan)
df[df['fuel_type'] == '–']

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
130,Chrysler,Pacifica Touring,2017,87305,–,NaN,9-Speed A/T,Silver,Black,None reported,Yes,9000.0
257,Toyota,Land Cruiser Base,1993,231500,–,NaN,A/T,White,Gray,None reported,Yes,29500.0
338,Mazda,Mazda3 s Grand Touring,2016,85000,–,NaN,A/T,Black,Black,At least 1 accident or damage reported,Yes,18500.0
491,Chrysler,Pacifica Touring,2017,63000,–,NaN,9-Speed A/T,White,Beige,None reported,Yes,20000.0
692,Honda,Civic EX,1993,58981,–,NaN,A/T,White,Beige,None reported,Yes,9599.0
855,Ford,Bronco,1974,6217,–,NaN,–,Dark Gray Metallic,–,None reported,Yes,115000.0
923,Dodge,Challenger R/T,2010,100100,–,NaN,Transmission w/Dual Shift Mode,Purple,Black,None reported,Yes,17000.0
995,Dodge,Challenger R/T Scat Pack,2019,43000,–,NaN,6-Speed M/T,Green,Black,None reported,Yes,50000.0
1063,Mazda,Mazda6 i Grand Touring,2016,83100,–,NaN,A/T,White,White,None reported,Yes,17800.0
1083,Dodge,Challenger R/T,2010,73000,–,NaN,A/T,Black,Black,None reported,Yes,17500.0
1084,Chevrolet,Sonic LT,2013,110000,–,NaN,A/T,Gray,Black,None reported,Yes,7500.0
1088,Mazda,MX-5 Miata Base,1992,125800,–,NaN,5-Speed M/T,Red,Black,None reported,Yes,11500.0
1134,Mercedes-Benz,E-Class 400E,1993,106983,–,NaN,4-Speed A/T,White,Gray,None reported,Yes,15300.0
1269,Dodge,Challenger R/T Scat Pack,2016,7928,–,NaN,6-Speed M/T,Red,Red,None reported,Yes,37500.0
1294,Chevrolet,1500 Cheyenne Extended Cab,1995,120000,–,NaN,4-Speed A/T,White,Brown,At least 1 accident or damage reported,Yes,6500.0
1355,Toyota,Land Cruiser Base,1996,233000,–,NaN,A/T,Blue,Gray,None reported,Yes,7500.0
1615,Rolls-Royce,Phantom,2023,1560,–,NaN,–,Tempest,Cobalt Blue,None reported,Yes,599995.0
1643,Ford,Mustang EcoBoost Premium,2018,34000,–,NaN,A/T,Blue,Gray,At least 1 accident or damage reported,Yes,25000.0
1681,Acura,Integra GS-R,1995,123000,–,NaN,5-Speed M/T,White,Blue,None reported,Yes,10999.0
1746,Nissan,300ZX Base,1993,168000,–,NaN,5-Speed M/T,White,Black,None reported,Yes,7000.0
1805,Mercury,Capri XR2,1993,120644,–,NaN,5-Speed M/T,Green,Gray,None reported,Yes,4200.0
1956,Nissan,240SX Base,1996,160490,–,NaN,5-Speed M/T,Gray,Black,None reported,Yes,15500.0
2026,Mercedes-Benz,E-Class D 2.5 Turbo,1993,70015,–,NaN,4-Speed A/T,Gray,Gray,None reported,Yes,22500.0
2103,Volvo,850 Turbo,1995,94000,–,NaN,A/T,White,Black,None reported,Yes,4500.0
2115,Dodge,Challenger SRT 392,2016,37700,–,NaN,8-Speed A/T,Black,Black,At least 1 accident or damage reported,Yes,38000.0
2303,Acura,NSX Base,1993,75980,–,NaN,A/T,Silver,Black,None reported,Yes,90200.0
2447,Chevrolet,1500 Cheyenne,1994,170443,–,NaN,A/T,Red,–,At least 1 accident or damage reported,Yes,6000.0
2448,Jaguar,XJ6 Vanden Plas,1995,70000,–,NaN,A/T,Gold,–,None reported,Yes,19000.0
2505,Dodge,Challenger SRT8,2011,106500,–,NaN,5-Speed A/T,White,White,At least 1 accident or damage reported,Yes,22500.0
2574,Cadillac,DeVille Base,1994,90000,–,NaN,A/T,Green,Beige,At least 1 accident or damage reported,Yes,2990.0
2608,Jeep,Wrangler S,1994,50750,–,NaN,5-Speed M/T,Blue,Gray,None reported,Yes,15000.0
2837,Porsche,911 Carrera,1995,49900,–,NaN,6-Speed M/T,Silver,Gray,At least 1 accident or damage reported,Yes,97993.0
2854,Nissan,Pickup Truck XE,1994,89144,–,NaN,A/T,Red,Gray,None reported,Yes,5899.0
3039,Cadillac,DeVille Base,1994,85000,–,NaN,A/T,White,Blue,None reported,Yes,7900.0
3068,Cadillac,DeVille Base,1994,47000,–,NaN,A/T,White,Blue,None reported,Yes,5990.0
3150,Ford,Bronco XLT,1995,195000,–,NaN,A/T,Blue,Gray,None reported,Yes,15000.0
3213,Ford,Mustang EcoBoost Premium,2019,31000,–,NaN,6-Speed M/T,Gray,Black,None reported,Yes,34700.0
3413,Chrysler,200 Limited,2017,100600,–,NaN,A/T,Black,Black,None reported,Yes,10000.0
3469,Ford,F-250 XL SuperCab H/D,1993,115000,–,NaN,A/T,Red,Gray,None reported,Yes,21900.0
3572,Dodge,Challenger SRT8 392,2012,33700,–,NaN,6-Speed M/T,Black,Black,None reported,Yes,33500.0
3702,GMC,Sierra 1500 SLE1 Extended Cab,2008,187000,–,NaN,4-Speed A/T,Red,Gray,At least 1 accident or damage reported,Yes,6100.0
3918,Porsche,911 Carrera Cabriolet,1996,38000,–,NaN,Transmission w/Dual Shift Mode,Blue,Gray,NaN,NaN,75000.0
3922,Mazda,Protege DX,1993,94200,–,NaN,A/T,Gray,–,At least 1 accident or damage reported,Yes,2500.0
3952,Dodge,Ram 3500 Quad Cab DRW,2000,188000,–,NaN,A/T,Silver,Gray,At least 1 accident or damage reported,Yes,10000.0
3984,Toyota,Land Cruiser Base,1994,178416,–,NaN,A/T,Green,Beige,None reported,Yes,9000.0

In [139]:
# Replace invalid entries 
df['fuel_type'] = df['fuel_type'].replace('–', np.nan)
df['fuel_type'] = df['fuel_type'].replace({'not supported': 'Hydrogen Electric'})

In [140]:
df[df['fuel_type'].isnull()].head(5)

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
9,Tesla,Model X Long Range Plus,2020,34000,NaN,534.0HP Electric Motor Electric Fuel System,A/T,Black,Black,None reported,Yes,69950.0
44,Lucid,Air Grand Touring,2022,3552,NaN,536.0HP Electric Motor Electric Fuel System,1-Speed A/T,Red,Beige,None reported,Yes,119999.0
68,Lucid,Air Grand Touring,2022,4900,NaN,536.0HP Electric Motor Electric Fuel System,1-Speed A/T,Red,Black,None reported,Yes,99000.0
92,Rivian,R1S Adventure Package,2023,2800,NaN,835.0HP Electric Motor Electric Fuel System,1-Speed A/T,White,Green,None reported,Yes,92000.0
122,Rivian,R1S Adventure Package,2023,2500,NaN,835.0HP Electric Motor Electric Fuel System,A/T,Green,White,None reported,Yes,94000.0

In [141]:
df.loc[
    df['fuel_type'].isnull() &
    df['engine'].str.contains('Electric', case=False, na=False),
    'fuel_type'
] = 'Electric'

In [142]:
df.isnull().sum()

brand             0
model             0
model_year        0
milage            0
fuel_type        50
engine           45
transmission      0
ext_col           0
int_col           0
accident        113
clean_title     596
price             0
dtype: int64

In [143]:
df.loc[df['fuel_type'].isnull(), 
       ['brand', 'model', 'engine', 'fuel_type']].head(10)

,brand,model,engine,fuel_type
130,Chrysler,Pacifica Touring,NaN,NaN
257,Toyota,Land Cruiser Base,NaN,NaN
338,Mazda,Mazda3 s Grand Touring,NaN,NaN
383,Ford,Mustang Mach-E Select,Standard Range Battery,NaN
456,Kia,EV6 Wind,111.2Ah / FR 70kW / RR 160kW (697V),NaN
491,Chrysler,Pacifica Touring,NaN,NaN
555,Tesla,Model 3 Long Range,Dual Motor - Standard,NaN
692,Honda,Civic EX,NaN,NaN
855,Ford,Bronco,NaN,NaN
923,Dodge,Challenger R/T,NaN,NaN

In [144]:
df = df.dropna(subset=["fuel_type", "engine"])

In [145]:
df.isnull().sum()

brand             0
model             0
model_year        0
milage            0
fuel_type         0
engine            0
transmission      0
ext_col           0
int_col           0
accident        112
clean_title     590
price             0
dtype: int64

In [146]:
df["accident"].unique()

array(['At least 1 accident or damage reported', 'None reported', nan],
      dtype=object)

In [147]:
df["clean_title"].unique()

array(['Yes', nan], dtype=object)

In [148]:
df['accident'] = df['accident'].fillna('Unknown')
df['clean_title'] = df['clean_title'].fillna('Unknown')

In [149]:
df.isnull().sum()

brand           0
model           0
model_year      0
milage          0
fuel_type       0
engine          0
transmission    0
ext_col         0
int_col         0
accident        0
clean_title     0
price           0
dtype: int64

In [150]:
df.head()

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,Ford,Utility Police Interceptor Base,2013,51000,E85 Flex Fuel,300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capa...,6-Speed A/T,Black,Black,At least 1 accident or damage reported,Yes,10300.0
1,Hyundai,Palisade SEL,2021,34742,Gasoline,3.8L V6 24V GDI DOHC,8-Speed Automatic,Moonlight Cloud,Gray,At least 1 accident or damage reported,Yes,38005.0
2,Lexus,RX 350 RX 350,2022,22372,Gasoline,3.5 Liter DOHC,Automatic,Blue,Black,None reported,Unknown,54598.0
3,INFINITI,Q50 Hybrid Sport,2015,88900,Hybrid,354.0HP 3.5L V6 Cylinder Engine Gas/Electric H...,7-Speed A/T,Black,Black,None reported,Yes,15500.0
4,Audi,Q3 45 S line Premium Plus,2021,9835,Gasoline,2.0L I4 16V GDI DOHC Turbo,8-Speed Automatic,Glacier White Metallic,Black,None reported,Unknown,34999.0

In [151]:
#  Extract Numeric cylinder from Engine String

def extract_cylinders(engine_str):
    if pd.isna(engine_str):
        return np.nan
    match = re.search(r'(?:V|I)(\d+)|(\d+)V', engine_str, re.IGNORECASE)
    if match:
        return int(match.group(1) or match.group(2))
    else:
        return np.nan
    
df['cylinders'] = df['engine'].apply(extract_cylinders)

In [152]:
df['cylinders'] = df['cylinders'].fillna(0).astype(int)

In [153]:
df.head()

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price,cylinders
0,Ford,Utility Police Interceptor Base,2013,51000,E85 Flex Fuel,300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capa...,6-Speed A/T,Black,Black,At least 1 accident or damage reported,Yes,10300.0,6
1,Hyundai,Palisade SEL,2021,34742,Gasoline,3.8L V6 24V GDI DOHC,8-Speed Automatic,Moonlight Cloud,Gray,At least 1 accident or damage reported,Yes,38005.0,6
2,Lexus,RX 350 RX 350,2022,22372,Gasoline,3.5 Liter DOHC,Automatic,Blue,Black,None reported,Unknown,54598.0,0
3,INFINITI,Q50 Hybrid Sport,2015,88900,Hybrid,354.0HP 3.5L V6 Cylinder Engine Gas/Electric H...,7-Speed A/T,Black,Black,None reported,Yes,15500.0,6
4,Audi,Q3 45 S line Premium Plus,2021,9835,Gasoline,2.0L I4 16V GDI DOHC Turbo,8-Speed Automatic,Glacier White Metallic,Black,None reported,Unknown,34999.0,4

In [154]:
df.drop(columns=['engine'], inplace=True)

In [155]:
df.head()

,brand,model,model_year,milage,fuel_type,transmission,ext_col,int_col,accident,clean_title,price,cylinders
0,Ford,Utility Police Interceptor Base,2013,51000,E85 Flex Fuel,6-Speed A/T,Black,Black,At least 1 accident or damage reported,Yes,10300.0,6
1,Hyundai,Palisade SEL,2021,34742,Gasoline,8-Speed Automatic,Moonlight Cloud,Gray,At least 1 accident or damage reported,Yes,38005.0,6
2,Lexus,RX 350 RX 350,2022,22372,Gasoline,Automatic,Blue,Black,None reported,Unknown,54598.0,0
3,INFINITI,Q50 Hybrid Sport,2015,88900,Hybrid,7-Speed A/T,Black,Black,None reported,Yes,15500.0,6
4,Audi,Q3 45 S line Premium Plus,2021,9835,Gasoline,8-Speed Automatic,Glacier White Metallic,Black,None reported,Unknown,34999.0,4

In [156]:
df.drop(columns=['model'], inplace=True)

In [157]:
df.head()

,brand,model_year,milage,fuel_type,transmission,ext_col,int_col,accident,clean_title,price,cylinders
0,Ford,2013,51000,E85 Flex Fuel,6-Speed A/T,Black,Black,At least 1 accident or damage reported,Yes,10300.0,6
1,Hyundai,2021,34742,Gasoline,8-Speed Automatic,Moonlight Cloud,Gray,At least 1 accident or damage reported,Yes,38005.0,6
2,Lexus,2022,22372,Gasoline,Automatic,Blue,Black,None reported,Unknown,54598.0,0
3,INFINITI,2015,88900,Hybrid,7-Speed A/T,Black,Black,None reported,Yes,15500.0,6
4,Audi,2021,9835,Gasoline,8-Speed Automatic,Glacier White Metallic,Black,None reported,Unknown,34999.0,4